.button {
  width: 435px;
  height: 68px;
  background: #ffffff;
  border: 3px solid #8e7eb0;
  border-radius: 22px;
  text-align: center;
  position: relative;
  font-size: 16px;
  font-weight: 800;
  margin: 20px auto;
  transition: font-size 0.5s ease-in-out;
  &:hover {
    .arrow {
      transform: translateX(-10px);
    }
  }
}

.arrow {
  transition: transform 0.5s ease-in-out;
  position: absolute;
  right: 20px;
}

.goBack {
  position: absolute;
  left: 20px;
}
