.FavouritesContent {
  margin-top: 75px;
}

.cards {
  max-width: 1000px;
  margin: 0 auto;

  .empty {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 65px;
    h4 {
      font-weight: 600;
      font-size: 36px;
    }
    span {
      font-size: 14px;
      line-height: 19px;
      margin-bottom: 64px;
      color: rgba(0, 0, 0, 0.5);
      width: 427px;
      text-align: center;
    }
  }
}
.title {
  img {
    cursor: pointer;
    transition: opacity ease-in-out 0.5s, transform ease-in-out 0.5s;
    &:hover {
      opacity: 0.8;
      transform: scale(1.8);
    }
  }
}
