.emptyCartWrapper {
  height: 100vh;
  h3 {
    font-size: 30px;
  }
  div {
    margin: 125px auto;
    p {
      margin: 0;
      font-weight: 600;
      font-size: 30px;
    }
    span {
      font-size: 18px;
    }
  }
}
